@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap');
/* font-family: 'Raleway', sans-serif; */



/* Setting paramters for the body */
body {
    background-image: url("https://images.pexels.com/photos/866351/pexels-photo-866351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.aboutContainer {
    height: 500px;
    margin-top: 20px !important;
    box-shadow: 5px 5px 15px #1687a7;
  }

.aboutText {
    color: #1687a7
}

/* Adding styling to portfolio gallery images */
.gallery {
    text-shadow: 2px 2px 8px #112d4e;
    color: white;
    font-size: 48px;
}

hr {
    background: white;
}

.about-hdr {
    color: white
}

/* Setting parameters for the contact form */
.contact-form {
    background: rgba(0,0,0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
}
.contactContainer {
    width: 50rem;
      height: 520px;
      position: relative;
      top: 30px;
}

.contactInfo {
    margin-top:5px;
    line-height: 10pt; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

a:hover {
    color: rgb(51, 54, 51) !important;
}

.nav-item {
    position: relative;
    top:30px;
    right: -85px
}

/* Adding clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
    background-color: #3f72af;
}
